@using OnlineStore.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model UserViewModel
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>مینی شاپ</title>
    <link rel="shortcut icon" href="~/img/default-icon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/img/default-icon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/js/plugin/countdown/countdown.css">
    <link rel="stylesheet" href="~/js/plugin/back-to-top/jquery-backToTop.min.css">
    <link rel="stylesheet" href="~/js/plugin/hint-css/hint-css.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
</head>
<body>
    <div class="content">
        <div class="dashboard">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="ui-boxs">
                            <div class="ui-box">
                                <div class="ui-box-item">
                                    <div class="ui-box-item-desc" style="border-radius: 10px;background-color: #fff;">
                                        <div class="dashboard-user-img-profile">
                                            <img src="~/img/default-icon/user-profile.png" width="80" height="80"
                                                 class="img-fluid rounded-circle" alt="">
                                        </div>
                                        <div class="dashboard-user-info">
                                            <h6 class="user-name">@Model.UserName</h6>
                                            <h6 class="text-muted user-number">@Model.PhoneNumber</h6>
                                        </div>
                                        <div class="dashboard-user-btn">
                                            <div>
                                                <i class="bi bi-arrow-left-circle"></i>
                                                <a asp-area="" asp-controller="Account" asp-action="LogOut" class="text-muted">خروج از حساب</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-box">
                                <div class="ui-box-item">
                                    <div class="ui-box-item-title" style="padding: 15px;">
                                        <h4 class="fw-bold">
                                            حساب کاربری شما
                                        </h4>
                                    </div>
                                    <div class="ui-box-item-desc p-0">
                                        <ul class="nav flex-column sidebar-menu">
                                            <li class="nav-item">
                                                <a asp-area="Admin" asp-controller="Profile" asp-action="Profile" class="nav-link text-muted">
                                                    <i class="bi bi-person-circle"></i>
                                                    <span>نمایه کاربری</span>
                                                </a>
                                            </li>
                                         
                                            <li class="nav-item">
                                                <a asp-area="Admin" asp-controller="Booth" asp-action="Booth" class="nav-link text-muted">
                                                    <i class="bi bi-house"></i>
                                                    <span>غرفه ها</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a asp-area="Admin" asp-controller="Seller" asp-action="Seller" class="nav-link text-muted">
                                                    <i class="bi bi-pin-map"></i>
                                                    <span>لیست فروشندگان</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a asp-area="Admin" asp-controller="Customer" asp-action="Customer" class="nav-link text-muted">
                                                    <i class="bi bi-pin-map"></i>
                                                    <span>لیست مشتریان</span>
                                                </a>
                                            </li>
                             


                                            <li class="nav-item">
                                                <a asp-area="Admin" asp-controller="Product" asp-action="Product" class="nav-link text-muted">
                                                    <i class="bi bi-basket-fill"></i>
                                                    <span>  محصولات</span>
                                                </a>
                                            </li>

                                            <li class="nav-item">
                                                <a asp-area="Admin" asp-controller="NewProduct" asp-action="Create" class="nav-link text-muted">
                                                    <i class="bi bi-pencil"></i>
                                                    <span>اضافه کردن محصول جدید</span>
                                                </a>
                                            </li>

  
                                            <li class="nav-item">
                                                <a asp-area="Admin" asp-controller="Comment" asp-action="Comment" class="nav-link text-muted">
                                                    <i class="bi bi-chat-dots"></i>
                                                    <span> کامنت ها</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a asp-area="Admin" asp-controller="Order" asp-action="GetCommession" class="nav-link text-muted">
                                                    <i class="bi bi-chat-dots"></i>
                                                    <span> کارمزدها</span>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="content-box" style="padding:40px 20px;">
                            <div class="row g-3">
                                <div class="col-xl-3 col-6 dashboard-cart-col">
                                    <div class="dashboard-cart shadow-box">
                                        <div class="dashboard-cart-title">
                                            <i class="bi bi-bag-check"></i> تعداد سفارش های ثبت شده
                                            شده
                                        </div>
                                        <div class="dashboard-cart-footer" style="background: #0476D0;">@Model.OrderCount</div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-6 dashboard-cart-col">
                                    <div class="dashboard-cart shadow-box">
                                        <div class="dashboard-cart-title">
                                            <i class="bi bi-activity"></i> تعداد مشتریان
                                        </div>
                                        <div class="dashboard-cart-footer" style="background: #F6A21E;">@Model.CustomerCount</div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-6 dashboard-cart-col">
                                    <div class="dashboard-cart shadow-box">
                                        <div class="dashboard-cart-title">
                                            <i class="bi bi-repeat"></i> تعداد کامنت های ثبت شده
                                            شده
                                        </div>
                                        <div class="dashboard-cart-footer" style="background: #0db47f;">@Model.CommentCount</div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-6 dashboard-cart-col">
                                    <div class="dashboard-cart shadow-box">
                                        <div class="dashboard-cart-title">
                                            <i class="bi bi-bag-check"></i> تعداد غرفه ها
                                        </div>
                                        <div class="dashboard-cart-footer" style="background: #BA0F30;">@Model.BoothCount</div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    
                </div>
               
            </div>
        </div>
    </div>
    <script src="~/js/jquery-3.6.1.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/swiper-bundle.min.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/plugin/countdown/countdown.js"></script>
    <script src="~/js/plugin/back-to-top/jquery-backToTop.min.js"></script>
    <script src="~/js/plugin/hint-css/hint-css.js"></script>
    <script src="~/js/jquery-app.js"></script>
    <script src="~/js/plugin/waves/waves.js"></script>
    <script src="~/js/plugin/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    </body>
    </html>